.container {
  max-width: 350px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
  margin: 10px auto 10px auto;
  border-radius: 1px;
}
.ctaP {
  font-size: 14px;
  margin: 15px;
  text-align: center;
}
