.registerContainer {
  max-width: 350px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
  margin: 12px auto auto;
  border-radius: 1px;
  div[role="logo"] {
    margin: 36px auto 12px;
  }
}
.registerTitle {
  color: rgb(142, 142, 142);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}
